<div class="position-fixed top-50 start-0 translate-middle-y ps-3 d-none d-md-flex flex-column gap-3 z-3">
  <a href="#" target="_blank"><i class="fab fa-facebook fa-lg text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-instagram fa-lg text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-github fa-lg text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-linkedin fa-lg text-dark"></i></a>
  <a href="#" target="_blank"><i class="fab fa-twitter fa-lg text-dark"></i></a>
</div>

<app-navbar></app-navbar>
<app-hero></app-hero>
<router-outlet></router-outlet>

<!-- Placeholder for the rest of the site -->
